.css-ffhzg2 {
    background-color: rgb(122, 122, 122);
}

.css-1avcm0n {
    background-color: rgb(122, 122, 122);
}

.css-10trblm {
    color: rgb(216, 216, 216);
}

.css-1yy6isu p {
    color: rgb(216, 216, 216);
}

.e16nr0p34 p{
    font-size: 1rem;
}

#tabs-bui8-tab-0 {
    width: 15rem;
}

#tabs-bui8-tab-1 {
    width: 15rem;
}

#tabs-bui8-tab-2 {
    width: 15rem;
}
